<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GALLERY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.NiwansuAndroidApplication"
        tools:targetApi="31">
        <activity
            android:name=".screens.doctor.activities.VideoCallDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".screens.patient.activities.KidneyDiseaseCheckActivity"
            android:exported="false" />
        <activity
            android:name=".screens.patient.activities.ChronicRespitoryDiseaseCheckActivity"
            android:exported="false" />
        <activity
            android:name=".screens.patient.activities.HeartDiseaseCheckActivity"
            android:exported="false" />
        <activity
            android:name=".screens.patient.activities.DiabetesCheckActivity"
            android:exported="false" />
        <activity
            android:name=".screens.patient.activities.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".screens.patient.activities.ConversationActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6sU6_qf9A0D7kZhkkilmGQ1jQza4PDT8" />

        <activity
            android:name=".screens.patient.activities.BookDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".screens.doctor.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".screens.doctor.activities.DoctorMainActivity"
            android:exported="false" />
        <activity
            android:name=".screens.patient.activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".screens.patient.activities.EnterDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.patient.activities.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".screens.patient.activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.patient.activities.LoginSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".screens.patient.activities.MainActivity"
            android:exported="false" />
    </application>

</manifest>